#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}


 body {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.month-container{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

h3 {
  font-size: 17px;
}

.Card {
  color: white;
  background-color: darkred;
  padding: 1%;
  width: 20%;
  margin: 1%;
  border-radius: 20px;
}

.more-button {
  background-color: white;
  color: darkred;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
}